.menuAdm {
    border-right: 1px solid #fff;
    background-color: rgba(112, 203, 135, 0.5);
    min-height: 100vh;
}

.menuAdm h3 {
    padding: 10px 20px;
}

.listMenuAdm {
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}

.listMenuAdm li {
    color: #000;
    list-style-type: none;
    padding: 10px 60px;
    border-top: 1px solid #000;
    text-align: center;
    border-radius: 4%;
    font-size: 20px;
}

.listMenuAdm li:hover {
    background-color: rgba(112, 203, 135, 1);
}

.listMenuAdm:last-child {
    border-bottom: 1px solid #000;
}

.listMenuAdm a {
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    .menuAdm {
        display: none;
    }
}