header {
  height: 100px;
  background-color: #343a40;
}

.navbar-brand {
  padding-top: 10px;
  padding-left: 10px;
}

.nav-item.dropdown {
  margin-left: 475px;
}

header form {
  margin-left: 350px;
  padding-top: 15px;
}

.carousel-inner img {
  max-width: 1000px;
}
.carousel-inner h5 {
  color: #343a40;
}
