.mainAdm {
    width: 100%;
}

.headerAdm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(112, 203, 135, 0.5);
    padding: 1vh 5vh;
}
