:root {
  --color-secondary: #39FF14;
  --color-dark: #343a40;
}

header {
  background-color: var(--color-dark);
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  flex-flow: column nowrap;
  justify-content: center;
}

#logo a {
  font-size: 4vh;
  color: var(--color-secondary)!important;
}

#logo .navbar-brand{
  margin: 0;
}

#links {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 3vh;
}

header form {
  margin: 0vh 20%;
  padding-bottom: 2vh;
}

.nav-link {
  display: initial!important;
}

.nav-item.dropdown {
  margin-left: 475px;
}

@media only screen and (min-width: 498px) {
  nav {
    flex-direction: row;
  }

  #logo {
    width: 40%;
  }

  .navbar-brand{
    padding-left: 10px;
  }

  #links {
    width: 60%;
    justify-content: flex-end;
  }

}

#carousselExampleCaptions {
  margin-top: 2vh;
}

.carousel-inner {
  height: 60vh;
}

.carousel-inner h5 {
  color: var(--color-secondary);
}

.carousel-item {
  position: initial!important;
  height: 30vh;
}

.btnCarousel {
  border-radius: 10px;
  border: 1px solid #000;
}

main {
  margin-top: 2vh;
}

#produtosLinks {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  border: 2px solid #C4C4C4;
  margin: 0 auto;
  width: 100vw;
  overflow-x: scroll;
}

#produtosLinks a {
  font-size: 2.5vh;
  padding-right: 3vh;
  text-decoration: none;
  color: #000;
}

#produtosLinks a:last-child {
  padding-right: 0;
}

footer {
  margin-top: 5vh;
  display: flex;
  background-color: var(--color-dark);
  padding-top: 2vh;
}

#footerLinks {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  color: #fff;
  font-size: 1rem!important;
}

#footerLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem!important;
}

#textInfos {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-right: 10vw;
}

#textInfos h5{
  font-size: 1rem!important;
  font-weight: initial!important;
}