:root {
  --color-secondary: #39ff14;
  --color-dark: #343a40;
}

.title {
  display: flex;
  justify-content: space-around;
  margin: 2vh 20vh 5vh 20vh;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.produtoRow {
  display: flex;
  flex-direction: row;
  margin: 2vh 20vh 0vh 21vh;
  justify-content: space-between;
}

/*-----------------------------Container do Produto-------------------------------------------------*/
.produtoRow__containerProduto {
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  margin: 0vh 10vh 5vh 0vh;
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}
.produtoRow__containerProduto__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.produtoRow__containerProduto__texto > .btn-outline-danger {
  margin-top: 40px;
}

.produtoRow__containerProduto__imagemProduto {
  width: 250px;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  margin-right: 15px;
}

.infosDaCompra {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
/*-----------------------------Container da Quantidade-------------------------------------------------*/
.produtoRow__containerQuantidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5vh;
}

.produtoRow__containerQuantidade__qntContainer {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.produtoRow__containerQuantidade__qntContainer > .btn {
  margin: 0vh 1vh;
}

.produtoRow__containerQuantidade__qntContainer > p {
  text-align: center;
  margin-bottom: 0px;
  padding: 3px;
}

.produtoRow__containerQuantidade__qntContainer > h4 {
  border-bottom: solid 1px black;
}
/*-----------------------------Container do Total-------------------------------------------------*/

.produtoRow__containerTotal__totalContainer {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  padding: 22px;
  border-radius: 10px;
  width: 110px;
  margin-top: 8px;
}

.produtoRow__containerTotal__totalContainer > h4 {
  border-bottom: solid 1px black;
}

/*-----------------------------Container do Valor final-------------------------------------------------*/
.valorDaCompraFinal {
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  margin: 2vh 20vh 5vh 20vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}
.valorDaCompraFinal > h4 {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.valorDaCompraFinal > p {
  padding: 10px;
}

.valorDaCompraFinal__finalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 10px;
}

.valorDaCompraFinal__finalRow > input {
  color: white;
  background: -webkit-linear-gradient(
    right,
    var(--color-dark),
    var(--color-secondary),
    var(--color-dark),
    var(--color-secondary)
  );
}

/*-----------------------------Btn-------------------------------------------------*/
.submit-btn__carrinho .input-data {
  overflow: hidden;
  height: 45px !important;
  width: fit-content!important;
}
.submit-btn__carrinho .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    var(--color-dark),
    var(--color-secondary),
    var(--color-dark),
    var(--color-secondary)
  );
  transition: all 0.4s;
}
.submit-btn__carrinho .input-data:hover .inner {
  left: 0;
}
.submit-btn__carrinho .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 498px) {
  .title {
    margin: 5px;
  }
  .title > h2 {
    font-size: 20px;
  }

  .produtoRow {
    flex-direction: column;
    margin: 5px;
    align-items: center;
  }
  .produtoRow__containerProduto {
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
  }

  .valorDaCompraFinal {
    margin: 20px 7px 10px;
  }
  /* .submit-btn__carrinho .input-data {
    width: 40% !important;
    right: 50%;
  } */
}

@media only screen and (min-width: 700px){
  .produtoRow{
    margin: 2vh 5vh 5vh 5vh;
  }
  .title{
    margin: 2vh 5vh 5vh 5vh;
  }
  .infosDaCompra {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .produtoRow__containerProduto {
    margin: 0vh 5vh 5vh 0vh; 
  }

  .produtoRow__containerQuantidade {
    margin-right: 0vh;
  }

  .valorDaCompraFinal {
  margin: 2vh 5vh 5vh 5vh;
    }
}