footer {
  margin-top: 5vh;
  display: flex;
  background-color: var(--color-dark);
  padding-top: 2vh;
}

#footerLinks {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  color: #fff;
  font-size: 1rem !important;
}

#footerLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem !important;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem !important;
}

footer a:hover {
  color: var(--color-secondary) !important;
}

#textInfos {
  display: flex;
  width: 50%;
  flex-direction: column;
  color: #fff;
}

#textInfos h5 {
  font-size: 1rem !important;
  font-weight: initial !important;
}

#textInfos p {
  line-height: 0.7;
}

#textPayments {
  display: flex;
  width: 50%;
  flex-direction: column;
  color: #fff;
}

#footerLinks p {
  margin-bottom: 0;
}

.iconsSocialMedia .fa {
  font-size: 25px;
  margin-right: 5px;
}

.subFooter {
  display: flex;
  background-color: var(--color-dark);
  padding-top: 2vh;
  justify-content: center;
  text-align: center;
}

.subFooter p {
  color: #fff;
  margin-top: 15px;
}
