footer {
    margin-top: 5vh;
    display: flex;
    background-color: var(--color-dark);
    padding-top: 2vh;
  }
  
  #footerLinks {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    color: #fff;
    font-size: 1rem!important;
  }
  
  #footerLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem!important;
  }
  
  #textInfos {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-right: 10vw;
  }
  
  #textInfos h5{
    font-size: 1rem!important;
    font-weight: initial!important;
  }

  #textInfos p {
    line-height: 0.7;
  }

#footerLinks p {
  margin-bottom: 0;
}

.iconsSocialMedia {
  margin-top: 10px;
}

.iconsSocialMedia .fa{
  font-size: 25px;
  margin-right: 5px;
}