header {
    background-color: var(--color-dark);
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    flex-flow: column nowrap;
    justify-content: center;
}

#logo a {
    font-size: 4vh;
    color: var(--color-secondary)!important;
}

#logo .navbar-brand {
    margin: 0;
}

#links {
    display: flex;
    align-items:center!important;
    margin-left: 475px;
}

.nav-links {
    font-size: 3vh;
    align-items: center;
}

header form {
    margin: 0vh 5%;
    padding-bottom: 2vh;
}

.nav-links {
    display: initial!important;
    
}



@media only screen and (min-width: 498px) {
    nav {
        flex-direction: row;
    }
    #logo {
        width: 40%;
    }
    .navbar-brand {
        padding-left: 10px;
    }
    #links {
        width: 60%;
        justify-content: center;
    }

    .nav-links{
        margin-right: 20px;

    }
    
}

@media only screen and (max-width: 498px) {
    #links {
        margin-left: 0px;
    }

}