:root {
    --color-secondary: #39ff14;
    --color-dark: #343a40;
  }

/* ------------------------------------Formulário de cadastro----------------------------------- */
.signUp{
    margin: 5vh 5vw;
    display: inline-block;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.btn-cadastrar{
        display: block;
        margin: 10px 0px;
        background: -webkit-linear-gradient(
          right,
          var(--color-dark),
          var(--color-secondary),
          var(--color-dark),
          var(--color-secondary)
        );
        transition: all 0.4s;
    }
