

.carousel-control-prev,
.carousel-control-next{
    height: 26%;
    top: 33%;
    background: black;
    
    }

#carouselExampleControls{
    width: 40vh;
}

.infosProduto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4vh 4vh 1vh;
    align-items: center;
}

.infosProduto__infos{
    display:flex;
    flex-direction:column;
    margin: 5vh 0 0;
    align-items: center;
}

.infosProduto__infos__preco{
    display:flex;
    flex-direction:column;
}

.infosProduto__infos__qnt{
    margin: 2vh 0 0;
    display: flex;
    align-items: center;
}

#display{
    width: 30px;
    text-align: center;
}

.infosProduto__infos__qnt > button{
    margin: 10px;
}

.btn_addCart{
    margin-bottom: 15px;
}

.descricaoProduto{
    margin: 0 4vh;
}

@media only screen and (min-width: 778px) {
    .infosProduto {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1032px) {
    #carouselExampleControls{
        width: 70vh;
    }
}
