:root {
  --color-secondary: #39FF14;
  --color-dark: #343a40;
}

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary); 
  border-radius: 20px;
}

.formularios {
  display: flex;
  justify-content: center;
}

.form-row {
  flex-direction: column;
}

.col-md-9, .col-md-6 {
  max-width: 100%;
}

.titlePage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
}

/* SHELF */

.shelf {
  display: flex;
  flex-flow: row wrap;
  margin: 16px auto;
  padding: 16px;
  width: 100%;
}

.shelf__title {
  color: #3e3e3e;
  flex: 1 0 100%;
  font-size: 36px;
  font-weight: bolder;
  margin: 16px auto;
  text-align: center;
  margin-top: 16px;
}

/* CARDS */

.card {
  background-color: #fff;
  border-radius: 8px;
  flex: 1 1 30%;
  margin: 8px;
  padding: 16px;
  border: 1px solid rgba(57, 255, 20, 1);
  align-items: center;
}

.card__title {
  color: #39ff14;
  font-weight: bold;
  margin: 0 auto 8px;
}

.card__description {
  color: #000;
  margin: 8px auto 0;
}

.card__img {
  position: relative;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card__price {
  font-weight: bold;
  text-align: center;
  margin-top: 1.5vh
}

.card__button {
  margin-top: 8px;
}

/* FORMS */

.signUp {
  width: calc(1000px - 30%);
}

.btn-small {
  margin-right: auto!important;
  margin-left: auto!important;
}

.buttonsForms {
  display: flex;
  flex-direction: row;
}

.buttonsForms a {
  text-decoration: none;
}

.espacoFinalForm {
  margin-bottom: 15.9vh;
}

.pesquisaProdutos {
  margin: 2vh 1vw ;
  display: flex;
  flex-direction: row;
}

.pesquisaProdutos input {
  margin-right: 10vw;
}

/* ADM */

.pageAdm {
  display: flex;
  flex-direction: row;
}

.mainAdm {
  width: 100%;
}

.headerAdm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(112, 203, 135, 0.5);
  padding: 1vh 0;
}

.headerAdm h4 {
  margin-left: 1vw;
}

.headerAdm a {
  margin-right: 1vw;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 5vh
}

th, td {
  padding: 15px;
  text-align: left;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}

#t01 tr:nth-child(odd) {
  background-color: #fff;
}

#t01 th {
  background-color: black;
  color: white;
}

.tabelaItens {
  margin-left: 1vw;
  margin-right: 1vw;
}


@media only screen and (min-width: 1900px) {
  .signUp {
    width: calc(100vw - 70%);
  }
}
@media only screen and (max-width: 498px){
  .shelf{
    flex-direction: column;
  }
}

#btnExcluirText, #btnModificarText, #btnVisualizarText {
  display: none;
}

@media only screen and (min-width: 701px) {
  #btnExcluirIcon, #btnModificarIcon, #btnVisualizarIcon  {
    display: none;
  }

  #btnExcluirText, #btnModificarText, #btnVisualizarText  {
    display: inline;
  }
}