header {
  background-color: var(--color-dark);
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  flex-flow: column nowrap;
  justify-content: center;
}

#logo a {
  font-size: 3vh;
  color: var(--color-secondary) !important;
}

#logo .navbar-brand {
  margin-left: 50px;
}

#links {
  display: flex;
  align-items: center !important;
  font-size: 1.5rem;
}

#userNameHeader {
  color: var(--color-secondary);
  font-size: 20px;
  margin: 0px;
}

#userLogout {
  color: var(--color-secondary);
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
}

.dropdown-item {
  font-size: 1.2rem!important;
}

.nav-links {
  font-size: 3vh;
  align-items: center;
}

.nav-links {
  display: initial !important;
}

@media only screen and (min-width: 498px) {
  nav {
    flex-direction: row;
  }
  #logo {
    width: 36%;
  }
  .navbar-brand {
    padding-left: 10px;
  }
  #links {
    justify-content: center;
  }

  .nav-links {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 498px) {
  #links {
    margin-left: 0px;
  }
}

.fa-user:before {
  color: var(--color-secondary);
}

.fa-shopping-cart:before {
  color: var(--color-secondary);
}

.dropdown-toggle {
  color: var(--color-secondary);
}

.dropdown-toggle:hover {
  color: var(--color-secondary);
}

#navbarSupportedContent {
  justify-content: flex-end!important;
}

#form-header {
  justify-content: center;
}

#form-header-input {
  width: 30vw;
}