.shelf {
  display: flex;
  flex-flow: row wrap;
  margin: 16px auto;
  padding: 16px;
  width: 100%;
}

.shelf__title {
  color: #3e3e3e;
  flex: 1 0 100%;
  font-size: 36px;
  font-weight: bolder;
  margin: 16px auto;
  text-align: center;
}
