.faq-body {
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2vh 3vh 0vh 3vh; 
}

.faq-item {
    background-color: #c4c4cf;
    border-radius: 20px;
    margin-bottom: 2vh;
    text-align: center;
}

.faq-item p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.faq-item h5 {
    margin-top: 1vh;
}

@media only screen and (min-width: 769px) {
    .faq-body{
        margin-right: 0px;
        height: 60vh;
    }

    .faq-item {
        width: 40vw;
        margin-right: 20px;
        height: 120px;
    }
}