.mainHome {
    margin-top: 2vh;
    display: flex;
    padding: 2vh;
    flex-direction: column;
}

.cardsHome {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.linkSearchAll {
    margin: 0 auto 4vh;
}

#produtosLinks {
    justify-content: flex-start;
    border: 2px solid #C4C4C4;
    margin: 0 auto;
    width: 95vw;
    overflow: auto;
    padding: 0vh 2vh 2vh;
    text-align: center;
}

#produtosLinks::-webkit-scrollbar {
    height: 10px;
}
  
#produtosLinks::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
#produtosLinks::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary); 
    border-radius: 20px;
}


#produtosLinks a {
    font-size: 2.5vh;
    padding-right: 3vh;
    text-decoration: none;
    color: #000;
}

#produtosLinks a:last-child {
    padding-right: 0;
}