.card {
  background-color: #fff;
  border-radius: 8px;
  flex: 1 1 30%;
  margin: 8px;
  padding: 16px;
  border: 1px solid rgba(57, 255, 20, 1);
}

.card__title {
  color: #39ff14;
  font-weight: bold;
  margin: 0 auto 8px;
}

.card__description {
  color: #000;
  margin: 8px auto 0;
}

.card__img {
  position: relative;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 145px;
}

.card__price {
  font-weight: bold;
  text-align: center;
}

.card__button {
  margin-top: 8px;
}
