aside {
  margin-top: 2vh;
}

#carousselExampleCaptions {
  margin-top: 2vh;
}

.carousel-inner {
  height: 80vh;
  align-items: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-indicators li {
  background-color: var(--color-secondary);
}

.carousel-inner h5 {
  color: var(--color-secondary);
}

.carousel-item {
  position: initial !important;
  height: 30vh;
}

.btnCarousel {
  border-radius: 10px;
  border: 1px solid #000;
}
